/* Custom properties */
:root {
  /* Colors */
  --white: hsl(0 100% 100%);
  --black: hsla(0 0% 0% 0.5);
  --navy-950: hsl(226 43% 10%);
  --navy-900: hsl(235 46% 20%);
  --navy-800: hsl(235 41% 34%);
  --navy-200: hsl(236 100% 87%);
  --orange-300: hsl(15 100% 70%);
  --purple-700: hsl(264 64% 52%);
  --purple-600: hsl(246 80% 60%);
  --purple-500: hsl(235 45% 61%);
  --blue-300: hsl(195 74% 62%);
  --pink-400: hsl(348 100% 68%);
  --green-400: hsl(145 58% 55%);
  --yellow-300: hsl(43 84% 65%);
  --grey-200: hsl(0 0% 85%);
  /* Spacing */
  --spacing-0: 0;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  /* Font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
}

/* Typography classes */
.text-1-light {
  font-size: 3.5rem;
  font-weight: var(--fw-light);
  line-height: 66px;
}

.text-2-light {
  font-size: 2.5rem;
  font-weight: var(--fw-light);
  line-height: 47px;
}

.text-3-light {
  font-size: clamp(2rem, -2.5rem + 19.2vw, 3.5rem);
  font-weight: var(--fw-light);
  line-height: clamp(2.375rem, 22.4vw + -2.875rem, 4.125rem);
  color: var(--white);
}

.text-4-light {
  font-size: clamp(1.5rem, 2.5932vw + .8922rem, 2.5rem);
  font-weight: var(--fw-light);
  line-height: clamp(1.75rem, 3.0794vw + 1.0283rem, 2.9375rem);
}

.text-5-medium {
  font-size: 1.125rem;
  font-weight: var(--fw-medium);
  line-height: 21px;
  color: var(--white);
}

.text-5-regular {
  font-size: 1.125rem;
  font-weight: var(--fw-medium);
  line-height: 21px; 
}

.text-6-regular {
  font-size: 0.9375rem;
  font-weight: var(--fw-regular);
  line-height: 18px;
  color: var(--navy-200);
}

/* Reset & general styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--navy-950);
  padding-block: 5rem;
  padding-inline: var(--spacing-300);
}

/* Profile styles */
.wrapper {
  /* border: 1px solid red; */
  display: grid;
  gap: var(--spacing-300);
}

.profile {
  background-color: var(--navy-900);
  border-radius: 0.9375rem;
  overflow: clip;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: var(--spacing-300);
  background-color: var(--purple-600);
  color: var(--white);
  padding-block: var(--spacing-400);
  padding-inline: var(--spacing-400);
  border-radius: 0.9375rem;
}

.profile-image {
  width: clamp(4rem, 2.269vw + 3.4682rem, 4.875rem);
  border-radius: 50%;
  border: 3px solid var(--white);
  box-sizing: content-box;
}

.profile-name span {
  display: block;
  color: var(--navy-200);
  margin-block-end: var(--spacing-100);
}

.profile-buttons {
  display: flex;
  /* gap: 1rem; */
  padding-block: var(--spacing-300);
  justify-content: space-around;
}

.btn {
  padding-inline: 1rem;
  background-color: inherit;
  color: var(--purple-500);
  border: 0;
  cursor: pointer;
  transition: color 250ms ease;
}

.btn:hover {
  color: var(--white);
}

/* Card styles */
.card-container {
  display: grid;
  gap: var(--spacing-300);
}

.card {
  border-radius: 0.9375rem;
  overflow: hidden;
}

.card-img {
  height: 2.375rem;
  overflow: hidden;
  position: relative;
}

.card-img img {
  position: absolute;
  right: 1rem;
  top: -0.5rem;
}

.card-content {
  height: 100%;
  padding-block: var(--spacing-300);
  padding-inline: var(--spacing-300);
  background-color: var(--navy-900);
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  transition: background-color 250ms ease;
}

.card-content:hover {
  background-color: var(--navy-800);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: var(--spacing-100);
}

.card-btn {
  display: flex;
  gap: 2px;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.card-btn .dot {
  width: 5px;
  height: 5px;
  background-color: var(--grey-200);
  border-radius: 50%;
  transition: background-color 250ms ease;
}

.card-btn:hover .dot {
  background-color: var(--white);
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-1 {
  background-color: var(--orange-300);
}

.card-2 {
  background-color: var(--blue-300);
}

.card-3 {
  background-color: var(--pink-400);
}

.card-4 {
  background-color: var(--green-400);
}

.card-5 {
  background-color: var(--purple-700);
}

.card-6 {
  background-color: var(--yellow-300);
}

/* Media Queries */
/* Media query > (500px)*/
@media (min-width: 31.25rem) {
  .wrapper {
    max-width: 38.25rem;
    margin-inline: auto;
  }

  .profile-buttons {
    max-width: 21.4375rem;
    margin-inline: auto;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-img img {
    width: 4rem;
  }

  .card-4 .card-img img {
    top: 0;
  }

  .card-header {
    margin-block-end: var(--spacing-200);
  }

  .card-text {
    display: block;
  }

  .card-text .text-3-light {
    margin-block-end: var(--spacing-100);
  }
}

/* Media query > 768px */
@media (min-width: 48rem) {
  .wrapper {
    max-width: 43rem;
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Media query > (992px) */
@media (min-width: 62rem) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .wrapper {
    max-width: 69.75rem;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-400);
  }

  .profile-info,
  .profile-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-info {
    height: 22.125rem;
    gap: var(--spacing-500);
  }

  .profile-buttons {
    height: 10.375rem;
    margin-inline-start: var(--spacing-400);
  }

  .btn {
    padding-inline: var(--spacing-0);
  }

  .card-container {
    grid-column: 2 / 5;
    gap: var(--spacing-400);
  }

  .card-header {
    margin-block-end: var(--spacing-300);
  }
}

/* Toggle class for JS */
.active {
  color: var(--white);
}