/* Custom properties */
:root {
  /* Colors */
  --white: hsl(0 100% 100%);
  --black: hsla(0 0% 0% 0.5);
  --navy-950: hsl(226 43% 10%);
  --navy-900: hsl(235 46% 20%);
  --navy-800: hsl(235 41% 34%);
  --navy-200: hsl(236 100% 87%);
  --orange-300: hsl(15 100% 70%);
  --purple-700: hsl(264 64% 52%);
  --purple-600: hsl(246 80% 60%);
  --purple-500: hsl(235 45% 61%);
  --blue-300: hsl(195 745 62%);
  --pink-400: hsl(348 100% 68%);
  --green-400: hsl(145 58% 55%);
  --yellow-300: hsl(43 84% 65%);
  --grey-200: hsl(0 0% 85%);
  /* Spacing */
  --spacing-0: 0;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  /* Font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
}

/* Typography classes */
.text-1-light {
  font-size: 3.5rem;
  font-weight: var(--fw-300);
  line-height: 66px;
}

.text-2-light {
  font-size: 2.5rem;
  font-weight: var(--fw-300);
  line-height: 47px;
}

.text-3-light {
  font-size: 2rem;
  font-weight: var(--fw-300);
  line-height: 38px;
}

.text-4-light {
  font-size: 1.5rem;
  font-weight: var(--fw-300);
  line-height: 28px;
}

.text-5-medium {
  font-size: 1.125rem;
  font-weight: var(--fw-500);
  line-height: 21px;
}

.text-5-regular {
  font-size: 1.125rem;
  font-weight: var(--fw-400);
  line-height: 21px; 
}

.text-6-regular {
  font-size: 0.9375rem;
  font-weight: var(--fw-400);
  line-height: 18px;
}